@charset "utf-8";
@font-face {
  font-family: "IBM Plex Mono";
  src: url('fonts/IBMPlexMono-Regular.ttf');
}

body {
  background-color: #050d1b;
  font-family: "IBM Plex Mono", "Lucida Sans Unicode";
}

#header {
  color: #287BDE;
  width: 100%;
  padding: 20px;
  position: fixed;
  text-align: left;
  font-size: 24px;
}
